body {
    margin: 0;
    background-color: #1b323b;
    color: white;
  }




#logo {
  width: "650px";
}



  #my-canvas {
    background-color: lightgray;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

 #main-image {
    width: 400px;
    height: 300px;
  }



  #start-btn, #restart-btn, #home-btn {
    background-color: #4B8CA6;
    color: white;
    width: 180px;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
    box-shadow: 2px 2px 1px lightgray;
    border: 2px;
  }

  #start-btn:hover, #restart-btn:hover, #home-btn:hover {
    background-color: lightgrey;
    color: lightslategray;
    font-size: 1.3em;
    cursor: pointer;
    box-shadow: 3px 3px 3px #4B8CA6;
    border: 2px;
  }

  #img-keys {
    width: 150px;
    height: 180px;
  }

  #my-canvas {
    display: none;
    
  }

  #gameOver-screen {
    display: none;
  }
 
  #gameover-img {
    width: 600px;
  }

  #scoreGameOver {
    font-size: 2em;
    margin: 40px 0px 20px 0px;
    text-align: center;
    color: #3ebff2;
  }

  #show-score {
    margin: 0px 20px 0px 20px;
    font-size: 2em;
    vertical-align: middle;
    color: white;
  }

/* pantallas menos de 770 px de ancho */
  @media (width < 770px){

    #logo {
      width: 70vw;
    }

    #main-image {
    width: 50vw;
    height: 25vh;
    }

    .container {
      margin: 10px;
    }

    #img-keys {
      width: 30vw;
      height: 20vh;
    }

   #my-canvas {
    width: 90vw;
    height: 90vh;
   }


   #gameover-img {
    width: 80vw;
   }

   #scoreGameOver {
    font-size: 1.5em;
   }

   #show-score {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
   }

  }